In [1]:
from pathlib import Path
import pickle
import numpy as np
import pandas as pd
import os
import re

%load_ext autoreload
%autoreload 2

In [15]:
path_data_dir = Path().cwd().parent.parent / "data"
print(path_data_dir)

/home/tim/Documents/feat-store/data

In [24]:
# load high-level labels
df_labels = pd.read_csv(path_data_dir / "processed/cnc/high_level_dummy.csv")
# df_labels = pd.read_csv(path_data_dir / "processed/cnc/high_level_labels_MASTER_update2020-08-06_new-jan-may-data_with_case.csv")
df_labels.head()

,unix_date,date,cut_dir,part,file_name,tools,len_cut,no_points,signals_names,failed,case_tool_54,failed_tools,comment
0,1540298755,2018-10-23 08:45:00,/home/tim/Documents/Checkfluid-Project/data/ra...,KS-NPC-6FF,Data_KS-NPC-6FF_0.mat,1 3 5 8 11 13 15 17 21 22 23 32 36 37 54 57,177.0,177000,current_main current_sub cut_signal error_x er...,1.0,1,54 15,NaN
1,1540298934,2018-10-23 08:48:00,/home/tim/Documents/Checkfluid-Project/data/ra...,KS-NPC-6FF,Data_KS-NPC-6FF_1.mat,1 3 5 8 11 13 15 17 21 22 23 32 36 37 54 57,177.0,177000,current_main current_sub cut_signal error_x er...,1.0,1,57,NaN
2,1540299114,2018-10-23 08:51:00,/home/tim/Documents/Checkfluid-Project/data/ra...,KS-NPC-6FF,Data_KS-NPC-6FF_2.mat,1 3 5 8 11 13 15 17 21 22 23 32 36 37 54 57,177.0,177000,current_main current_sub cut_signal error_x er...,NaN,2,NaN,NaN
3,1540299293,2018-10-23 08:54:00,/home/tim/Documents/Checkfluid-Project/data/ra...,KS-NPC-6FF,Data_KS-NPC-6FF_3.mat,1 3 5 8 11 13 15 17 21 22 23 32 36 37 54 57,177.0,177000,current_main current_sub cut_signal error_x er...,3.0,3,54 57 15,NaN
4,1540299472,2018-10-23 08:57:00,/home/tim/Documents/Checkfluid-Project/data/ra...,KS-NPC-6FF,Data_KS-NPC-6FF_4.mat,1 3 5 8 11 13 15 17 21 22 23 32 36 37 54 57,177.0,177000,current_main current_sub cut_signal error_x er...,NaN,4,NaN,NaN

In [37]:
# load feature dataframe as df
df = pd.read_csv(path_data_dir / "processed/cnc/cnc_features/cnc_features_54.csv")
df["unix_date"] = df["id"].apply(lambda x: int(x.split("_")[0]))
df["tool_no"] = df["id"].apply(lambda x: int(x.split("_")[-2]))
df["index_no"] = df["id"].apply(lambda x: int(x.split("_")[-1]))
df.head()

,id,current__length,current__kurtosis,unix_date,tool_no,index_no
0,1540298755_54_0,2624.0,-1.802253,1540298755,54,0
1,1540298755_54_1,8504.0,5.160376,1540298755,54,1
2,1540298755_54_2,3208.0,-1.712692,1540298755,54,2
3,1540298755_54_3,2472.0,0.013136,1540298755,54,3
4,1540298755_54_4,2456.0,0.033973,1540298755,54,4

In [88]:
# do transpose and group by https://stackoverflow.com/questions/39107512/how-to-do-a-transpose-a-dataframe-group-by-key-on-pandas
df1 = df.pivot(index=['unix_date', 'tool_no'], columns='index_no', values=['current__kurtosis','current__length']).reset_index()
df1.columns = [f'{i}__{j}' if j != '' else f'{i}' for i, j  in df1.columns.values] # https://stackoverflow.com/a/51735628
df1.head()

,unix_date,tool_no,current__kurtosis__0,current__kurtosis__1,current__kurtosis__2,current__kurtosis__3,current__kurtosis__4,current__kurtosis__5,current__kurtosis__6,current__kurtosis__7,...,current__length__0,current__length__1,current__length__2,current__length__3,current__length__4,current__length__5,current__length__6,current__length__7,current__length__8,current__length__9
0,1540298755,54,-1.802253,5.160376,-1.712692,0.013136,0.033973,-1.179738,-1.041050,-1.403612,...,2624.0,8504.0,3208.0,2472.0,2456.0,1616.0,1584.0,1656.0,1152.0,2904.0
1,1540298934,54,-1.806687,5.139549,-1.723545,0.061449,-0.011956,-1.152128,-1.023735,-1.390700,...,2624.0,8504.0,3248.0,2464.0,2464.0,1608.0,1584.0,1656.0,1152.0,2904.0
2,1540299114,54,-1.811909,5.146533,-1.722363,0.123973,0.025718,-1.169067,-1.034285,-1.389290,...,2624.0,8504.0,3224.0,2456.0,2456.0,1616.0,1584.0,1656.0,1152.0,2904.0
3,1540299293,54,-1.807873,5.164746,-1.719262,0.063461,-0.014978,-1.152607,-1.044445,-1.387936,...,2624.0,8504.0,3224.0,2464.0,2464.0,1608.0,1592.0,1648.0,1152.0,2904.0
4,1540299472,54,-1.819636,5.148318,-1.718133,0.067032,0.075911,-1.156258,-1.031625,-1.414260,...,2624.0,8504.0,3224.0,2464.0,2448.0,1608.0,1584.0,1656.0,1152.0,2896.0

In [84]:

df1.head()

ValueError: too many values to unpack (expected 2)

In [86]:
def add_labels_to_cnc_df(df, df_labels, col_list_case=None):

    df_labels["unix_date"] = df_labels["unix_date"].astype(int)

    if col_list_case is not None:
        df = df.merge(df_labels[["unix_date"] + col_list_case], on=["unix_date"])

    # select all rows in df_labels where "failed_tools" is not empty
    df_labels = df_labels[df_labels["failed_tools"].notna()].copy()

    # convert each "failed_tools" string to a list
    df_labels["failed_tools"] = df_labels["failed_tools"].apply(lambda x: x.split(" "))

    df_labels = df_labels.explode('failed_tools')

    # change dtype of "failed" column to int
    df_labels = df_labels[["unix_date", "failed", "failed_tools"]]
    df_labels["failed"] = df_labels["failed"].astype(int)

    # drop any rows where "failed_tools" is not a numeric value
    df_labels = df_labels[df_labels["failed_tools"].apply(lambda x: x.isnumeric())]
    df_labels["failed_tools"] = df_labels["failed_tools"].astype(int)

    df = pd.merge(df, df_labels[["unix_date", "failed", "failed_tools"]], left_on=["unix_date", "tool_no"], right_on=["unix_date", "failed_tools"], how="left").drop(columns=["failed_tools"])
    df["failed"] = df["failed"].fillna(0).astype(int)

    # drop "failed_tools" column
    # dfm = dfm.drop(columns=["failed_tools"])

    df["y"] = df["failed"].astype(int)
    df = df.drop(columns=["failed"])

    return df

In [87]:
df_new = add_labels_to_cnc_df(df1, df_labels, col_list_case=['case_tool_54'])
df_new.head()

,unix_date,tool_no,current__kurtosis__0,current__kurtosis__1,current__kurtosis__2,current__kurtosis__3,current__kurtosis__4,current__kurtosis__5,current__kurtosis__6,current__kurtosis__7,...,current__length__2,current__length__3,current__length__4,current__length__5,current__length__6,current__length__7,current__length__8,current__length__9,case_tool_54,y
0,1540298755,54,-1.802253,5.160376,-1.712692,0.013136,0.033973,-1.179738,-1.041050,-1.403612,...,3208.0,2472.0,2456.0,1616.0,1584.0,1656.0,1152.0,2904.0,1,1
1,1540298934,54,-1.806687,5.139549,-1.723545,0.061449,-0.011956,-1.152128,-1.023735,-1.390700,...,3248.0,2464.0,2464.0,1608.0,1584.0,1656.0,1152.0,2904.0,1,0
2,1540299114,54,-1.811909,5.146533,-1.722363,0.123973,0.025718,-1.169067,-1.034285,-1.389290,...,3224.0,2456.0,2456.0,1616.0,1584.0,1656.0,1152.0,2904.0,2,0
3,1540299293,54,-1.807873,5.164746,-1.719262,0.063461,-0.014978,-1.152607,-1.044445,-1.387936,...,3224.0,2464.0,2464.0,1608.0,1592.0,1648.0,1152.0,2904.0,3,3
4,1540299472,54,-1.819636,5.148318,-1.718133,0.067032,0.075911,-1.156258,-1.031625,-1.414260,...,3224.0,2464.0,2448.0,1608.0,1584.0,1656.0,1152.0,2896.0,4,0

In [28]:
# save to csv
df_new.to_csv("cnc_features_54_with_labels.csv", index=False)